@import "tailwindcss";

@theme {
  --animate-blink: blink 0.6s ease-in-out infinite;
  @keyframes blink{
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
}
